<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-3.0.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    <context:annotation-config />
    <context:component-scan base-package="qa.automation" />

    <bean
            class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" />

    <aop:aspectj-autoproxy proxy-target-class="false" />
    <bean class="qa.automation.util.GeneralAOP" id="gaop" />
    <aop:config>
        <aop:pointcut expression="execution(* qa.automation.*.impl.*.*(..))" id="aroundAction" />
        <aop:aspect ref="gaop">
            <aop:around method="aroundActions" pointcut-ref="aroundAction" />
        </aop:aspect>
    </aop:config>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>classpath*:driver.properties</value>
            </list>
        </property>
    </bean>

    <bean id="seleniumBrowserDriverBean" class="qa.seleniumdriver.BrowserDriver">
        <property name="whereToRun" value="${selenium.driver.location}" />
        <property name="browserName" value="${selenium.driver.browser.name}" />
        <property name="pathToChrome" value="${selenium.driver.path.chrome}" />
        <property name="pathToGecko" value="${selenium.driver.path.gecko}" />
        <property name="listOfGridHub">
            <list>
                <value>${selenium.grid.location}</value>
                <value>${selenium.grid.location2}</value>
            </list>
        </property>
    </bean>

    <bean id="dataProvider"
          class="qa.automation.util.DataProvider">
        <property name="browser" value="${selenium.driver.browser.name}"/>
        <property name="whereToRun" value="${selenium.driver.location}" />
        <property name="pathToChrome" value="${selenium.driver.path.chrome}" />
    </bean>



    <bean id="commonsActions" class="qa.automation.commons.impl.CommonsActionsImpl"/>

</beans>
